body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Jost", sans-serif;
}

.button-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container {
  margin: 0 10px;
}

.button {
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 400px;
  height: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-decoration: burlywood;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: bold;
  position: relative;
}

.button:hover {
  background-color: #fff;
  color: #333;
}

.button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.button:hover::before {
  opacity: 1;
  visibility: visible;
  font-size: 13px;
  padding: 3px 10px;
}

.quote-container {
  text-align: center;
  margin-top: 120px;
  /* Add some margin to create space below the fixed nav */
  margin-bottom: 20px;
}

.quote {
  font-family: "Jost", sans-serif;
  font-size: 21px;
  color: #333;
  font-style: italic;
}

.button-container-2 {
  display: none;
  margin-bottom: 40px;
}

.slideshow-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 40px;
  visibility: hidden;
}

.slideshow-header {
  display: flex;
  visibility: hidden;
}

.button-container-2-header {
  display: none;
}

#prevButton {
  background-color: black;
  color: #fff;
}

#nextButton {
  background-color: black;
  color: #fff;
}

.button.clicked {
  background-color: pink;
  color: #333;
}

#prevButton.clicked {
  background-color: pink;
  color: #fff;
}

#nextButton.clicked {
  background-color: pink;
  color: #fff;
}

/* Style for the helloUserDiv */
#helloUserDiv {
  padding: 10px;
  text-align: center;
  font-family: "Jost", sans-serif;
}

/* Style for the userNameSpan */
#userNameSpan {
  color: #3366cc;
  font-size: 24px;
  font-weight: bold;
}
textarea {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0 10px 0;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Jost", sans-serif;
}

::placeholder {
  color: #383838;
}

.submit-btn {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #383838;
  color: #fff;
  border-radius: 2px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px 0;
}
.submit-btn:hover {
  background-color: #2478bc;
}
#loginPassword,#loginUsername{
  display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0 10px 0;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: "Jost", sans-serif;
}
