* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    font-family: "Jost", sans-serif;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    display: none;
}

.loginlogo {
    background: url("../assets/bg.png") no-repeat center;
    background-size: contain;

    height: 200px;
    display: block;
}

input:not(.search-box, .checkbox, .size-checkbox, input[type="file"]),
textarea {
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0 10px 0;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: "Jost", sans-serif;
}

::placeholder {
    color: #383838;
}

.submit-btn {
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px 0;
}
.submit-btn:hover {
    background-color: #2478BC;
}

/* checkbox styles */

.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #383838;
    cursor: pointer;
}

.checkbox:checked {
    background: #383838;
}



.checkbox:checked::after {
    display: block;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #383838;
}

label a {
    color: #383838;
}

.link {
    color: #383838;
    text-align: center;
    display: block;
}


/* alert */

.alert-box {
    width: 300px;
    min-height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    z-index: 2;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img {
    display: block;
    margin: 10px auto 20px;
    height: 60px;
}

.alert-msg {
    color: #e24c4b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}