/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.3);
}

.modal-content {
  background-color: #e6f1ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  max-width: 800px;
  max-height: 800px;

  text-align: center;
  font-family: "Jost", sans-serif;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

h2 {
  margin-top: 10;
  font-family: "Jost", sans-serif;
}

textarea {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0 10px 0;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Jost", sans-serif;
}

button {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #383838;
  color: #fff;
  border-radius: 2px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px 44px;
  font-family: "Jost", sans-serif;
}

button:hover {
  background-color: #7bacbb;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  font-family: "Jost", sans-serif;
}

li {
  margin-bottom: 5px;
  font-family: "Jost", sans-serif;
}


#loginPassword,#loginUsername{
  display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0 10px 0;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: "Jost", sans-serif;
}
