/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 20x;
  background-color: rgba(0, 0, 255, 0.3);
}

.modal-content {
  background-color: #e6f1ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  max-width: 800px;
  max-height: 800px;

  text-align: center;
  font-family: "Jost", sans-serif;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

h2 {
  margin-top: 10;
  font-family: "Jost", sans-serif;
}

textarea {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0 10px 0;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Jost", sans-serif;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

button:hover {
  background-color: #555;
}

#dataList {
  padding: 10px; /* Adjust padding as needed */
  margin: 10px;
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  font-family: "Jost", sans-serif;
  width: 90%;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#dataList li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
}

#dataList li:last-child {
  border-bottom: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.column-data-inputs {
  margin: 20px;
}

.column-data-inputs label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.column-data-inputs input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Optional: Add some spacing between the inputs */
.column-data-inputs input[type="text"] + label {
  margin-top: 10px;
}
.user-actions-table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border: 2px solid #333;
  margin-top: 20px;
  padding: 4px;
}
.user-actions-table th, .user-actions-table td {
  text-align: center;
  border: 2px solid #333;
  margin-bottom: 30px;
}




#loginPassword,
#loginUsername {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border: 1px solid #ccc;

  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 2px;
  outline: none;
  margin: 20px 0 10px 0;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Jost", sans-serif;
}
