/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.3);
}

.modal-content {
  background-color: #e6f1ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  max-width: 800px;
  max-height: 800px;

  text-align: center;
  font-family: "Jost", sans-serif;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

h2 {
  margin-top: 0;
  font-family: "Jost", sans-serif;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Jost", sans-serif;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  font-family: "Jost", sans-serif;
}

li {
  margin-bottom: 5px;
  font-family: "Jost", sans-serif;
}
