/* Content */
.container {
  margin: 0 300px;
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: justify;
}

.content {
  padding-bottom: 20px;
}

.title {
  font-size: 45px;
  text-align: center;
}

.heading {
  font-size: 30px;
}

.container p,
ul,
ol {
  font-size: 18px;
}

.subhead {
  padding-top: 10px;
}

p span.formula {
  font-weight: bold;
}

.indent {
  margin-left: 70px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

.arrow-link {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding-right: 5px; /* Add some space on the right for the arrow */
  text-decoration: none;
}

.arrow-link::after {
  content: "Click this if you want to go back to E-Statistica."; /* Unicode arrow character, you can change it to your preferred arrow icon */
  right: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.arrow-link:hover::after {
  opacity: 1; /* Show the arrow when hovered */
}
